{% load static %}

<div class="untree_co-section" id="resume-section">
    <div class="container">
        <div class="row">
            <div class="section-heading text-center col-md-12 mb-5" data-aos="fade-up" data-aos-delay="0">
                <h2>Resume</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
                <img src="{% static 'images/image_1_long.jpg' %}" alt="Image" class="img-fluid">
            </div>
            <div class="col-lg-7 ml-auto" data-aos="fade-up" data-aos-delay="200">
                <h3 class="mb-5">Work Experience</h3>
                {% for work in works %}
                <div class="resume-item d-flex work">
                    <div>
                        <h4>{{ work.title }}</h4>
                        <div class="d-flex">
                            <div class="d-flex resume-meta">
<span class="mr-3">
<span class="icon">
<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-building" fill="currentColor"
     xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd"
      d="M14.763.075A.5.5 0 0 1 15 .5v15a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5V14h-1v1.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V10a.5.5 0 0 1 .342-.474L6 7.64V4.5a.5.5 0 0 1 .276-.447l8-4a.5.5 0 0 1 .487.022zM6 8.694L1 10.36V15h5V8.694zM7 15h2v-1.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5V15h2V1.309l-7 3.5V15z"/>
<path d="M2 11h1v1H2v-1zm2 0h1v1H4v-1zm-2 2h1v1H2v-1zm2 0h1v1H4v-1zm4-4h1v1H8V9zm2 0h1v1h-1V9zm-2 2h1v1H8v-1zm2 0h1v1h-1v-1zm2-2h1v1h-1V9zm0 2h1v1h-1v-1zM8 7h1v1H8V7zm2 0h1v1h-1V7zm2 0h1v1h-1V7zM8 5h1v1H8V5zm2 0h1v1h-1V5zm2 0h1v1h-1V5zm0-2h1v1h-1V3z"/>
</svg>
</span>
<span>{{ work.location }}</span>
</span>
                                <span class="icon">
<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-geo-alt" fill="currentColor"
     xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
</svg>
</span>
                                <span>{{ work.address }}</span>
                            </div>
                            <div></div>
                        </div>
                    </div>
                    <div class="ml-auto resume-meta">
                        <div class="clearfix">
                            <span class="period d-block float-right"><span>Fulltime</span></span>
                        </div>
                        <span class="icon">
<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-calendar-event" fill="currentColor"
     xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd"
      d="M1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1zm1-3a2 2 0 0 0-2 2v11a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2H2z"/>
<path fill-rule="evenodd"
      d="M3.5 0a.5.5 0 0 1 .5.5V1a.5.5 0 0 1-1 0V.5a.5.5 0 0 1 .5-.5zm9 0a.5.5 0 0 1 .5.5V1a.5.5 0 0 1-1 0V.5a.5.5 0 0 1 .5-.5z"/>
<rect width="2" height="2" x="11" y="6" rx=".5"/>
</svg>
</span>
                        <span>{{ work.data}}</span>
                    </div>
                </div>
                {% endfor %}
                <h3 class="mt-5 mb-3">Education</h3>
            {% for education in educations %}
                <div class="resume-item d-flex work">
                    <div>
                        <h4>{{ education.title }}</h4>
                        <div class="d-flex">
                            <div class="d-flex resume-meta">
<span class="mr-3">
<span class="icon">
<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-calendar-event" fill="currentColor"
     xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd"
      d="M1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1zm1-3a2 2 0 0 0-2 2v11a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2H2z"/>
<path fill-rule="evenodd"
      d="M3.5 0a.5.5 0 0 1 .5.5V1a.5.5 0 0 1-1 0V.5a.5.5 0 0 1 .5-.5zm9 0a.5.5 0 0 1 .5.5V1a.5.5 0 0 1-1 0V.5a.5.5 0 0 1 .5-.5z"/>
<rect width="2" height="2" x="11" y="6" rx=".5"/>
</svg>
</span>
<span>{{ education.location }}</span>
</span>
                            </div>
                            <div></div>
                        </div>
                    </div>
                    <div class="ml-auto resume-meta">
<span class="icon">
<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-calendar-event" fill="currentColor"
     xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd"
      d="M1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1zm1-3a2 2 0 0 0-2 2v11a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2H2z"/>
<path fill-rule="evenodd"
      d="M3.5 0a.5.5 0 0 1 .5.5V1a.5.5 0 0 1-1 0V.5a.5.5 0 0 1 .5-.5zm9 0a.5.5 0 0 1 .5.5V1a.5.5 0 0 1-1 0V.5a.5.5 0 0 1 .5-.5z"/>
<rect width="2" height="2" x="11" y="6" rx=".5"/>
</svg>
</span>
                        <span>{{ education.data}}</span>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
</div>
